$main:rgb(180, 79, 79);

@mixin grid($columns: 1, $width: 1fr, $gap: 1px, $halign: normal, $valign: normal) {
  display: grid;
  grid-template-columns: repeat($columns, $width);
  gap: $gap;
  align-items: $halign;
  justify-items: $valign;
}

.container {
  @include grid(2, 1fr, 10px, start, center); 
}

