html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
table {table-layout: fixed;border-collapse: collapse;border-spacing: 0;border: 0;}

/* 감추기 */
.sr-only{ position: absolute !important; width: 1px; height: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); padding: 0; margin: -1px; border: 0;   }
.sr-only-focusable:focus, .sr-only-focusable:active { clip: auto !important; height: auto !important; margin: auto !important; overflow: visible !important; width: auto !important; white-space: normal !important; }
.blind {overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
legend,caption {font-size: 0;overflow: hidden;text-indent: -9999999px;height: 0;width: 0;line-height: 0;}

/* 입력폼 X표시 제거 */
input::-ms-clear,
input::-ms-reveal {display: none; width: 0; height: 0;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display: none;} 

/* X표시 보이기 */
input[type="search"] {-webkit-appearance : searchfield;}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance : searchfield-cancel-button;}

/* 기본폼 모양 감추기 */
input,select,textarea {border: 0; background: 0; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; -webkit-appearance: none; appearance: none;}

/* 버튼배경이미지어긋남해결 */
button::-moz-focus-inner,input::-moz-focus-inner {padding: 0; border: 0;}

/* 입력폼 배경색 자동변경 금지 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {background-color: none; background-image: none; color: rgb(0, 0, 0);}

/* Date 입력폼관련 -webkit- */
input[type='date'] {position:relative;}
::-webkit-datetime-edit,
::-webkit-clear-button,
::-webkit-calendar-picker-indicator{position:absolute;}
::-webkit-clear-button{right:1.54em;}
::-webkit-inner-spin-button{-webkit-appearance:none; margin:0;}
::-webkit-calendar-picker-indicator{right:0; padding:.539em .34em; background-color:transparent;}

/* placeholder 컬러변경 */
input::placeholder,
textarea::placeholder{color: #888;}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder{color: #888;}

/* Placeholder focus delete */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color:transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color:transparent; 
} 

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color:transparent;
} 

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color:transparent;
}

/* 파일첨부 버튼 변경 */
input[type=file]::-webkit-file-upload-button {
  border: 1px solid grey;
  background: #FFFAAA;
}

/* input file cursor */
::-webkit-file-upload-button { 
  cursor:pointer; 
}